.Main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: sans-serif;
  padding: 15px 0px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  height: 400px;
  width: 325px;
  border: 1px solid black;
  border-radius: 15px;

  font-size: 30px;
  text-align: left;
  word-wrap: normal;

  display: flex;
  padding: 30px 25px 0px 25px;
}

.black-card {
  background-color: black;
  color: white;
}

.white-card-container {
  display: inline-flex;
}

.white-card {
  margin: 20px 10px;
  background-color: white;
}

.white-card:hover {
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 8px rgb(158, 156, 156),
              3px -3px 8px rgb(158, 156, 156),
              -3px 3px 8px rgb(158, 156, 156),
              -3px -3px 8px rgb(158, 156, 156);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  margin: 0px 10px;
  outline: none;
  font-size: 25px;
  border: 1px outset black;
  border-radius: 10px;
}

.button:hover {
  border-style: inset;
  background-color: black;
  color: white;
}
