* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  overflow-y: hidden;
}

.App {
  background-image: linear-gradient(45deg, black, white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
